.main-left{
    width: 350px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .leftbar{
        background-color: var(--leftbar);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    
        .logo{
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--dark-blue);
            color: var(--leftbar);
            width: 100%;
            text-decoration: none;
            position: relative;
            font-weight: 700;
            

            .back-icon{
                position: absolute;
                left: 11%;
                top: 55%;
                transform: translate(-50%, -50%)
            }
        }
        
        .navigation{
            height: 40px;
            width: 90%;
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;
            border: none;
            text-align: left;
            background-color: #e7e9eb;
            border-radius: 5px;
            &:hover{
                background-color: #e3e5e8;
                }  
            
            .navigation-item{
                
                font-weight: 500;
                text-align: left;
                display: flex;
                align-items: center;
                text-align: left;
                position: relative;
                
            
            }
             
        .nav-icon{
                    margin-right: 10px;
                    font-size: 25px;
                    position: absolute;
                    right: 0;
                    color: grey;
                    
                  
                }
         
        }
    }
    .languages{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;
        margin-bottom: 10px;
        

        button{
            border: 1px solid rgb(180, 180, 180) !important;
            height: 30px;
            font-weight: 700;
            background-color: white;
            color: rgb(85, 84, 84);
            border-radius: 2px;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
    

            &:hover{
                background-color: rgb(246, 244, 244);
            }

            img{
                width: 15px;
                height: 15px;
                margin-right: 1px;
            }
        }
    }
}